//Only The standard styles will be in this file, NO SECTION SPECIFIC THING HERE

.btn {
  &.btn-transparent {
    background-color: transparent;
    color: $primary;

    &:hover {
      box-shadow: 0 8px 25px -8px #7a60e0;
    }
  }

  &.btn-bordered {
    color: white;
    border: 1px solid #ffffff;
    // border-radius: 10px;
  }
}

.ff-dm-sans {
  font-family: $font-family-dm-sans;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.bg-F0F0FF {
  background-color: #f0f0ff;
}

.bg-202020 {
  background-color: #202020;
}

.bg-black {
  background-color: #000000;
}

.clr-black {
  color: black;
}

.clr-white {
  color: white;

  p {
    color: white;
  }
}

.clr-white-05 {
  color: rgba($color: #ffffff, $alpha: 0.5) !important;
}

.clr-black-07 {
  color: rgba($color: #000000, $alpha: 0.7);
}

.clr-navy {
  color: #00137f;
}

.clr-nero {
  color: #262626;
}

.clr-raven {
  color: #797c7f;
}

.clr-7A60E0 {
  color: #7a60e0;
}

.bg-111111 {
  background-color: #111111;
}

.bg-black {
  background-color: #111111;
}

//error with captal name
.bg-doted {
  background-image: url("../images/common/rectangle.png");
  background-color: #031135;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-450 {
  font-weight: 450;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-40 {
  font-size: 40px;
}

.fs-60 {
  font-size: 60px;
}

.fs-64 {
  font-size: 64px;
}

.fs-70 {
  font-size: 70px;
}

.fs-85 {
  font-size: 85px;
}

.fs-112 {
  font-size: 112px;
}

.lh-25 {
  line-height: 25px;
}

.lh-34 {
  line-height: 34px;
}

.lh-40 {
  line-height: 40px;
}

.lh-43 {
  line-height: 43px;
}

.lh-77 {
  line-height: 77px;
}

.text-decoration-line {
  text-decoration: underline;
}

.bb-raven {
  border-bottom: 1px solid #797c7f;
}

.text-muted-w{
  color: $white;
  opacity: 0.7;
}

.ps-6 {
  padding-left: 6px;
}

.ps-8 {
  padding-left: 8px;
}

.ps-10 {
  padding-left: 10px;
}

.ps-12 {
  padding-left: 12px;
}

.pe-12 {
  padding-right: 12px;
}

.pr-100 {
  padding-right: 100px;
}

.pt_1 {
  padding-top: 1px;
}

.pt_2 {
  padding-top: 2px;
}

.pt_3 {
  padding-top: 3px;
}

.pt_4 {
  padding-top: 4px;
}

.pt_5 {
  padding-top: 5px;
}

.pt-6 {
  padding-top: 6px;
}

.pt-13 {
  padding-top: 13px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-200 {
  padding-top: 200px;
}

.pb_1 {
  padding-bottom: 1px;
}

.pb_4 {
  padding-bottom: 4px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pb-13 {
  padding-bottom: 13px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-200 {
  padding-bottom: 200px;
}

.mt_1 {
  margin-top: 1px;
}

.mt_2 {
  margin-top: 2px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-26 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-51 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-230 {
  margin-top: 230px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-165 {
  margin-bottom: 165px;
}

.ms-12 {
  margin-left: 12px;
}

.ml-80 {
  margin-left: 80px;
}

.me-12 {
  margin-right: 12px;
}

.me-16 {
  margin-right: 16px;
}

.mr-26 {
  margin-right: 26px;
}

.mr-80 {
  margin-right: 80px;
}

.br-6 {
  border-radius: 6px;
}

.br-10 {
  border-radius: 10px;
}

.list-style-none {
  list-style: none;
  list-style-type: none;
}
.btn-with-glow{
  max-width: max-content;
}

.btn-grad {
  background: linear-gradient(222.83deg, #18C8FF -39.86%, #933FFE 85.69%);
  z-index: 1;
  position: relative;
}

.btn-glow {
  background: rgba(74, 246, 233, 0.7);
  filter: blur(15px);
  position: absolute;
  width: 105px;
  height: 20px;
  bottom: -10px;
  left: 95px;
  z-index: 0;
}

.btn-outline-light{
  padding: 15px 30px;
}

.anchor-red{
  color: #F04037;
  opacity: 1;
  &:hover{
    color: #F04037;
    text-decoration: underline;
  }
}
