.camp_req {
  border-left: 4px solid #22b14c !important;
  margin-bottom: 8px;
}
.camp_not_req {
  border-left: 4px solid #767678 !important;
  margin-bottom: 8px;
}
.rep_camp_header {
  margin: 0px !important;
  padding: 10px 15px !important;
  h2 {
    font-weight: 400;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    span {
      font-size: 24px !important;
      margin-left: 4px;
    }
  }
}
.camp_not_req {
  .rep_camp_header {
    h2 {
      span {
        display: none;
      }
    }
  }
}
.camp-nav {
  position: fixed;
  left: 0px;
  top: 70px;
  width: 100%;
  background: #fff;
  z-index: 4;
  padding: 1rem 0rem 1rem 23rem;
}
.campaign-creation-data {
  margin-top: 5rem;
}
.campaign-fields {
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  h4 {
    font-weight: 300;
    margin-bottom: 10px;
  }
}
.campaign-step-six {
  h4 {
    border-top: 1px solid gray;
    padding-top: 20px;
    &:first-child {
      border: none;
      padding: 0px;
    }
  }
}
.campaign-pagination {
  button {
    height: 3rem !important;
    padding: 0px 30px;
  }
}
.dark-layout {
  .campaign-fields {
    h4 {
      color: #fff;
    }
  }
}
.navItemAvatar {
  width: 75px;
  height: 40px;
  background-color: #fff;
  font-size: 15px;
  color: #393939;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 10px 0px;
}

.navItemAvatar:hover {
  cursor: pointer;
}

.navItemSpacer {
  width: 10%;
  margin-right: 5px;
}

.navItemSpacer hr {
  width: 100%;
  background-color: lightslategray;
}
.camp-steps {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .navItemContainer {
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: center;
    margin: 10px;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    svg path {
      stroke: #000;
    }
    p {
      font-size: 16px;
      line-height: 17px;
      margin-left: 15px;
      margin-bottom: 0px;
    }
  }
  .navItemContainer.active {
    background: #7a60e0;
    border: 1px solid #7a60e0;
    p {
      color: #fff;
    }
    svg path {
      stroke: #fff !important;
    }
  }
}
.true-icon {
  .true-1 {
  }
  .true-2 {
    display: none;
  }
}
.true-icon.active {
  .true-1 {
    display: none;
  }
  .true-2 {
    display: block;
  }
}
.campaign-creation-nav h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin-left: 15px;
}

.camp-steps {
  .steps {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 0 2rem 0;
    .step--incomplete {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      position: relative;
      &::before {
        display: block;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        height: 0.25rem;
        content: "";
        will-change: width;
        z-index: -1;
        transform: translateY(-50%);
        background-color: #999;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      .step__icon {
        border: 0.2rem solid #7a60e0;
        background: #7a60e0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 3rem;
        height: 3rem;
        color: #fbfbfb;
        font-size: 1rem;
        &::before {
          display: none;
          color: #fff;
          content: "✓";
        }
        .text-no {
          display: block;
        }
      }
      .step__label {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1rem;
        position: absolute;
        bottom: -2rem;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
    .step--incomplete.step--active {
      pointer-events: all;
      cursor: pointer;
      &::before {
        background: linear-gradient(138.29deg, #01b7c5 -6.3%, #782c96 103.83%);
      }
      .step__icon {
        background: linear-gradient(138.29deg, #01b7c5 -6.3%, #782c96 103.83%);
        border: none;
        transition-delay: 0.5s;
        animation: bounce-data-v-d99488ca 0.5s ease-in-out;
        color: blue;
        transition: background-color 0.3s ease-in-out,
          border-color 0.3s ease-in-out, color 0.3s ease-in-out;
        &::before {
          display: block;
        }
        .text-no {
          display: none;
        }
      }
      .step__label {
        transition-delay: 0.5s;
        color: #000;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}
.campaign-step-six {
  .vs__selected {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: 0px !important;
  }
}
.campaign-cards.card {
  padding: 15px;
}
.campaign-services-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.camp-service {
  width: 345px;
  margin: 10px;
}
.campaign-service-box:hover {
  box-shadow: #137e99 0px 0px 20px 8px;
}
.campaign-service-box {
  cursor: pointer;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
  padding: 10px 15px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 270px;
  width: 100%;
  position: relative;
  h4 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    position: relative;
    z-index: 1;
  }
  p {
    font-weight: 400;
    font-size: 11.9844px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.55);
    position: relative;
    z-index: 1;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
    p {
      font-size: 11.0625px;
      line-height: 13px;
      color: rgba(255, 255, 255, 0.25);
      margin: 0px;
    }
    img {
      margin-right: 5px;
    }
    .online-user {
      display: flex;
      align-items: center;
    }
    .members {
      display: flex;
      align-items: center;
    }
  }
}
.campaign-service-box {
  border: 1px solid #137e99;
}
.selected .campaign-service-box {
  border: 5px solid #00cbf2;
}

.vs__dropdown-toggle {
  background: #fff;
}

.campaign-heading {
  h2 {
    font-size: 28px;
    line-height: 22px;
    // color: #FFFFFF;
  }
  p {
    font-size: 15px;
    line-height: 18px;
  }
}
.dark-layout {
  .campaign-heading {
    h2 {
      color: #fff;
    }
  }
  .campaign-heading p {
    color: rgba(255, 255, 255, 0.7);
  }
  .camp-nav {
    background: #283046;
  }
}
.campaign-pagination {
  .back-btn {
    margin-right: 15px;
    border: none !important;
    background: transparent !important;
    background-color: transparent !important;
    height: auto !important;
    color: #000 !important;
    svg {
      margin-right: 10px;
      fill: #000;
      path {
        stroke: #000;
      }
    }
  }
  .vs__dropdown-toggle {
    background: #fff;
  }
  .campaign-service-box {
    border: 1px solid #137e99;
  }
  .campaign-heading {
    h2 {
      font-size: 18px;
      line-height: 22px;
    }
    p {
      font-size: 15px;
      line-height: 18px;
    }
  }
  .dark-layout .campaign-heading p {
    color: rgba(255, 255, 255, 0.7);
  }
  .campaign-pagination {
    .back-btn {
      margin-right: 15px;
      border: none !important;
      background: transparent !important;
      background-color: transparent !important;
      height: auto !important;
      color: #000 !important;
      svg {
        margin-right: 10px;
        fill: #000;
        path {
          stroke: #000;
        }
      }
    }
    .next-btn {
      background: linear-gradient(224.99deg, #933ffe 0%, #741189 100%),
        linear-gradient(
          226.72deg,
          #4af6e9 -3.38%,
          #0099ff 22.79%,
          #c330cb 77.37%
        );
      border-radius: 5px;
      padding: 14px 40px;
      border: 1px solid #be3de0;
      height: auto !important;
    }
  }
  .dark-layout .back-btn svg {
    fill: #fff;
    path {
      stroke: #fff;
    }
  }
  .dark-layout .back-btn {
    color: #fff !important;
  }
}
.dark-layout .back-btn svg {
  fill: #fff;
  path {
    stroke: #fff;
  }
}
.dark-layout .back-btn {
  color: #fff !important;
}
.v-sel-sty {
  svg {
    fill: #fff !important;
  }
  input {
    color: #fff !important;
    border: none !important;
    ::placeholder {
      color: #fff !important;
    }
  }
}
.campaignhe-heading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
  }
}
.air-time {
  padding: 25px;
  label,
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.airtime-card {
  background: #ccc;
  border-radius: 14px;
  padding: 40px 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.shapeimg {
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: 0px;
  left: 0px;
  border-radius: 20px;
  z-index: 1;
}
.bgServices {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  border-radius: 20px;
  top: 0px;
}
.campaign-step-four {
  .b-form-timepicker {
    height: 4rem !important;
  }

  .dark-layout {
    .b-form-timepicker {
      border: none !important;
      label {
        color: #bfbfbf !important;
      }
    }
  }
  .flatpickr-calendar {
    .flatpickr-months {
      display: flex;
      align-items: center;
      .flatpickr-prev-month {
        position: relative;
      }
      .flatpickr-month {
        position: relative;
        height: auto;

        .flatpickr-current-month {
          display: flex;
          align-content: center;
          justify-content: center;
          width: 100%;
        }
      }
      .flatpickr-next-month {
        position: relative;
      }
    }
  }

  .disable-campaign-end-date-and-time {
    opacity: 0.5;
  }
}
.range-progress {
  border: solid 1px #6e178f;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  height: 7px;
  width: 100%;
  height: auto !important;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.range-progress::-webkit-slider-thumb {
  border: 3px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: linear-gradient(138.29deg, #00cbf2 -6.3%, #6e178f 103.83%),
    #ffffff;
}

.range-label-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-value-box {
  padding: 5px;
  color: 000;
  background: #fff;
}
.flatpickr-calendar {
  .flatpickr-months {
    display: flex;
    align-items: center;
    .flatpickr-prev-month {
      position: relative;
    }
    .flatpickr-month {
      position: relative;
      height: auto;

      .flatpickr-current-month {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
      }
    }
    .flatpickr-next-month {
      position: relative;
    }
  }
}
.dark-layout .range-value-box {
  color: #fff;
  background: #161d31;
}

.durationTypes_contanier {
  .durationTypes {
    padding: 10px;
    border: 1px solid #7a60e0;
    color: #7a60e0;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #7a60e0 !important;
      color: white;
    }
  }

  .selectedType {
    background-color: #7a60e0 !important;
    color: white !important;
  }
}
.roleCenter {
  margin-left: 10px;
  margin-top: 3px;
}

.boxShadowShow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  padding: 20px 15px;
  border-radius: 10px;
}
.dark-layout {
  .boxShadowShow {
    background: #283046;
  }
}
.addBackgroundColor {
  background-color: antiquewhite !important;
}

.bor-type {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 15px;
  margin: 1rem 0px;
}

@media (max-width: 1400px) {
  .ag-pyout-container {
    max-width: 500px;
    margin: auto;
  }
}
#bonusValue,
#filterValue,
#days,
#hours,
#openTime__outer_,
#closeTime__outer_ {
  font-size: 18px;
}
#openTime__outer_,
#closeTime__outer_ {
  align-items: center !important;
  border: none !important;
}
.addBackgroundColor {
  background-color: antiquewhite !important;
}
.bor-type {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 15px;
  margin: 1rem 0px;
}
#map {
  font-size: 18px;
}
.dark-layout {
  .campaign-steps {
    #startTime__outer_,
    #endTime__outer_ {
      border: none !important;
      label {
        line-height: 2 !important;
      }
    }
  }
}
.b-time-footer {
  .b-form-date-controls {
    justify-content: center !important;
    button {
    }
  }
}
.b-form-datepicker {
  height: 4rem !important;
  #startDate {
    position: absolute;
    right: 5px;
    top: 12px;
  }
  #endDate {
    position: absolute;
    right: 5px;
    top: 12px;
  }
  #deliveryDate {
    position: absolute;
    right: 5px;
    top: 12px;
  }
  #pickupDate {
    position: absolute;
    right: 5px;
    top: 12px;
  }
  label {
    border: none !important;
    padding: 0px 16px !important;
    display: flex;
    align-items: center;
  }
  .dropdown-menu {
    transform: none !important;
    left: 0px !important;
    right: inherit !important;
    background: #fff;
  }
  output {
    height: 40px;
  }
}
.dark-layout {
  .b-form-datepicker {
    .dropdown-menu {
      background: #161d31;
    }
    svg {
      fill: #ffffff;
    }
    small {
      color: #fff;
    }
  }
  .b-time-footer {
    .b-form-date-controls {
      justify-content: center !important;
      button {
        color: #fff;
        border: 1px solid #ccc !important;
      }
    }
  }
}
.campaignAddressSteps_header {
  h2 {
    font-size: 24px;
    margin: 0px;
  }
  h3 {
    font-size: 18px;
    margin: 0px;
  }
}
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
.dark-layout {
  .campaignAddressSteps_header {
    h2 {
      color: #fff;
    }
    h3 {
      color: #fff;
    }
  }
  .b-form-datepicker {
    border: none !important;
  }
  .air-time {
    label,
    p {
      color: #ffffff;
    }
  }
  .airtime-card {
    background: #1b1d35;
  }
  .camp-steps {
    .navItemContainer {
      border: 1px solid #ccc;
      svg path {
        stroke: #fff;
      }
    }
    .navItemContainer.active {
      background: #7a60e0;
      border: 1px solid #7a60e0;
      cursor: pointer;
      p {
        color: #fff;
      }
      svg path {
        stroke: #fff !important;
      }
    }
  }
  .camp-steps {
    .steps {
      .step--incomplete {
        &::before {
          background-color: #999;
        }
        .step__icon {
          border: 0.2rem solid #999;
          background: #283046;
          color: #fbfbfb;
          &::before {
            color: #fff;
          }
        }
      }
      .step--incomplete.step--active {
        &::before {
          background: linear-gradient(
            138.29deg,
            #01b7c5 -6.3%,
            #782c96 103.83%
          );
        }
        .step__icon {
          background: linear-gradient(
            138.29deg,
            #01b7c5 -6.3%,
            #782c96 103.83%
          );
          border: none;
        }
        .step__label {
          color: #fff;
        }
      }
    }
  }
}
#CongratsModal {
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
.camp_tag {
  display: flex;
  flex-wrap: wrap;
  .camp_tag_b {
    display: inline-block;
    background: #7a60e0;
    color: #fff;
    padding: 7px 15px;
    border-radius: 0px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    .remo-tag {
      position: relative;
      opacity: 0;
      visibility: hidden;
      margin-left: 10px;
    }
    &:hover {
      .remo-tag {
        opacity: 1;
        visibility: visible;
        transition: 0.4s all ease-in-out;
      }
    }
  }
}
.add_custom_tag {
  display: flex;
  align-items: center;
  input {
    font-size: 12px;
    height: 2.8rem !important;
    width: 115px;
    padding: 0px 10px !important;
    text-align: center;
  }
  .add_tag_btn {
    position: relative;
    z-index: 99999;
    svg {
      &:hover {
        stroke: #7a60e0;
      }
    }
  }
}
#addZipcodeContainer {
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: 9999;
  }
  .input-gradient {
    position: relative;
    z-index: 99999;
  }
}
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
  .camp-service {
    width: 295px;
  }
  .camp-nav {
    padding: 1rem 0rem 1rem 18rem !important;
  }
}
@media (max-width: 1200px) {
  .campaign-creation-data {
    .campn-content {
      width: 100%;
    }
    .camp-nav {
      width: 0%;
    }
  }
  .camp-nav {
    padding: 1rem 0px !important;
  }
}
@media (max-width: 992px) {
  .camp-nav {
    display: none;
  }
  .campaign-creation-data {
    margin-top: 0rem;
  }
}
@media (max-width: 767px) {
  .range-label-value {
    flex-direction: column;
    align-items: flex-start;
  }
  .campaign-services-flex {
    justify-content: center;
  }
  .campaign-step-seven {
    .input-gradient {
      margin-bottom: 15px;
    }
  }
  .campaign-step-eight {
    h3 {
      font-size: 16px;
    }
  }
  .alert {
    max-height: initial !important;
  }
  .cong-step {
    h1 {
      font-size: 24px;
      line-height: 26px;
    }
    h2 {
      font-size: 20px;
      line-height: 26px;
    }
    button {
      margin-top: 15px !important;
    }
  }
  .show-listing {
    margin-bottom: 15px;
  }
  .campaign-completed {
    .pagination {
      justify-content: center !important;
    }
  }
  .campaign-draft {
    .pagination {
      justify-content: center !important;
      margin-top: 20px;
    }
  }
}
@media (max-width: 420px) {
  .navItemAvatar {
    width: 40px;
    height: 30px;
    background-color: black;
    font-size: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-right: 5px;
  }
  .camp-service {
    margin: 0px;
  }
}
